<% include partials/header %>

    <link href="/css/query.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn">Log in</button>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="container-fluid">
                        <form class="form-horizontal" action="/query" method="GET">
                            <div class="form-group form-group-lg">
                                <label class="col-md-2 control-label" for="formGroupInputLarge">Destination</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" id="formGroupInputLarge" name="dest_name" placeholder="Destination">
                                </div>
                                <button class="btn btn-primary find-package">Find Packages!</button>
                            </div>
                        </form>
                        <% for(var i = 0; i < result[1].length; i++) { %>
                            <div class="package-details row">
                                <div class="col-md-4">
                                    <img src="https://images.freeimages.com/images/large-previews/6d3/entrance-to-amber-palace-1542611.jpg" alt="package-destination-image"
                                        class="img-rounded destination-package-image">
                                </div>
                                <div class="col-md-4 destination-package-info">
                                    <h2><%= result[1][i].package_name %></h2>
                                    <p>
                                        <%= result[1][i].package_desc %>
                                    </p>
                                </div>
                                <div class="col-md-4 destination-package-interact">
                                    <h2>Rate per person : <%= result[1][i].rate %></h2>
                                        <form action="/package/<%= result[1][i].package_id %>" method="GET"><button class="btn btn-primary btn-lg">View Package</button></form>
                                </div>
                            </div>  
                           <% } %>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container-fluid destination-package-destinfo">
                        <h2>
                            <%= result[0][0].dest_name %>
                        </h2>
                        <p>
                            <%= result[0][0].dest_desc %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <% include partials/footer %>